.pfContent {
    margin: 32px;
}

.pfUsernameBlock {
    text-align: left;
}

.pfPreferenceBlock {
    text-align: left;
}

.pfPreferenceAddStatusSuccess {
    background-color: lightgreen;
    text-align: center;
    color: darkgreen;
}